<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHTabBarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A1D04C91CAE0A4A00A52E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A1D04E21CAE0A4B00A52E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A1D04ED1CAE0A4B00A52E93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
